name: Documentation

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build Docs
        run: |
          pip install sphinx sphinx-rtd-theme myst-parser .
          sphinx-apidoc -f -o docs/source/ dc4client
          sphinx-build -b html docs/source/ docs/build/html

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/build/html/

      - uses: actions/deploy-pages@v4